<!--criando formulário base para reutiliza-lo-->

<div class="container">
  <%= form_with model: @article do |form| %>
    <div class="title">
      <%= form.label "Título" %><br>
      <%= form.text_field :title %>
      <%= @article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="body">
      <%= form.label "Texto" %>
      <%= form.text_area :body %>
      <%= @article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="button">
      <%= form.submit "Criar Artigo" %>
    </div>
  <% end %>
</div>
