<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<!--Exibindo os comentários do Artigo-->
<h3>Comentários</h3>
<%= render @article.comments %>

<!--Adicionando um novo comentário-->
<h4>Adicione um comentário:</h4>
<%= render 'comments/form' %>

<!--Edicão do Artigo-->
<h4>Admin</h4>
<ul>
  <li><%= link_to "Editar", edit_article_path(@article) %></li>
  <li><%= link_to "Deletar", article_path(@article),
                  method: :delete,
                  data: { confirm: "Tem certeza?" } %></li>
</ul>

<!--Voltar para os artigos-->
<button class="btn-back"><%= link_to "Ver Artigos", articles_path(@articles), class: "back" %></button>

